.main {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin: 20px;
  position: relative;
}

.productLista {
  grid-area: 1 / 2 / 2 / 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.announcement-section {
  grid-area: 1 / 1 / 2 / 4;
}
