@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.navBar {
  width: 100%;
  height: auto;
  background-color: rgb(37, 102, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;

  /* 👇 Animación */
  animation: slideDown 0.8s ease-out forwards;
  transform: translateY(-100%);
  opacity: 0;
}

.navBar .logo {
  width: 160px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid rgb(0, 0, 0);
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.menu li {
  font-size: 30px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin: 0 15px;
  text-shadow: 2px 2px 2px #000000;
}
.menu li a {
  text-decoration: none;
  color: inherit;
}
